<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>
<body>
  <header id="header"></header>

  <mian>
      <header>
          <h1>첫번째 글</h1>
      </header>
      <aside>
          <p>namtndus</p>
          <p><a href="mailto:namtndus@gmail.com">namtndus@gmail.com</a></p>
          <p><time datetime="2022-02-02T00:00:00">2022-01-01</time></p>
          <p>#java</p>
      </aside>

      <section>
          <p>본문<br><br></p>

          <div>
              <form>
                  <label for="articleComment" hidden>댓글</label>
                  <textarea id="articleComment" placeholder="댓글 쓰기..."></textarea>
                  <button type="submit">글쓰기</button>
              </form>

              <ul>
                  <li>
                      <div>
                          <time><small>2022-01-01</small></time>
                          <strong>namtndus</strong>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error expedita incidunt maxime, omnis ullam voluptas voluptatibus? Adipisci at, deserunt dolor eaque id illum inventore nemo perspiciatis, quasi sapiente tempora, tenetur.
                              Lorem ipsum dolor sit amet
                          </p>
                      </div>
                  </li>
                  <li>
                      <div>
                          <time><small>2022-01-01</small></time>
                          <strong>namtndus</strong>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error expedita incidunt maxime, omnis ullam voluptas voluptatibus? Adipisci at, deserunt dolor eaque id illum inventore nemo perspiciatis, quasi sapiente tempora, tenetur.
                              Lorem ipsum dolor sit amet
                          </p>
                      </div>
                  </li>
                  <li>
                      <div>
                          <time><small>2022-01-01</small></time>
                          <strong>namtndus</strong>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error expedita incidunt maxime, omnis ullam voluptas voluptatibus? Adipisci at, deserunt dolor eaque id illum inventore nemo perspiciatis, quasi sapiente tempora, tenetur.
                              Lorem ipsum dolor sit amet
                          </p>
                      </div>
                  </li>
              </ul>

          </div>
          
          <nav>
              <a href="#">이전 글</a>
              <a href="#">다음 글</a>
          </nav>
      </section>

  </mian>

  <footer id="footer"></footer>
</body>
</html>